/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
html,
body {
	height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

main {
    flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    padding: 0 55px;
}

[class*="__container"] {
   max-width: 1110px;
   margin: 0 auto;
}

section {
   
}
/* HEADER */
header {
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-wrap: wrap;
}
.header__logo {
}
.header__menu {
   flex: 1 1 auto;
    
}
.menu__list {
    margin-left: 100px;
    display: flex;

}
.menu__item {
    margin: 0px 40px 0px 0px;
}
.menu__link {
    font-family: Roboto;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.header__btn {
   
}
.btn {
    font-family: Work Sans;
    color: #000;
    display: flex;
    background-color: #FCD54C;
    font-size: 18px;
    font-weight: 600;
    padding: 13px;
    white-space: nowrap;
}
.language {
    display: flex;
    font-family: Roboto;
    margin: 0px 60px 0px 115px;
}
.language__item {
    font-weight: 500;
    font-size: 18px;
    color: #929292;
    margin: 0 5px;
}
.header__number {
    font-family: Roboto;
    font-weight: 600;
    font-size: 19px;
    color: #fff;
}
.lang-active {
    color: #FCD54C;
}

/* HEADER ADAPTIVE */
@media (max-width: 1025px) {
    .header__number {
        display: none;
    }
    .language {
        display: none;
    }
}
@media (max-width: 991px) {
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
    .header__number {
        display: none;
    }
    .language {
        display: none;
    }
}
@media (max-width: 939px) {
    .menu__item {
        margin: 0px 25px 0px 0px;
    }
    .menu__list {
        margin-left: 50px;
    
    }
}

/* burger */

.burger {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 50;
    width: 40px;
    height: 40px;
}
.burger span{
    height: 2px;
    width: 60%;
    background-color: #fff;
}

.burger::before, .burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 11px; }
.burger::after {bottom: 11px;}

@media (max-width: 777px) {
    .burger {display: flex;}
    header {
        justify-content: space-between;
    }
    .header__menu {
        display: none;
    }
    .header__number {
        display: flex;
    }
    .language {
        display: flex;
        margin: 0px 10px 0px 10px;
    }
    .wrapper {
        padding: 0 15px;
    }
    
}
@media (max-width: 777px) {
    .burger {display: flex;}
    header {
        justify-content: space-between;
    }
    .header__menu {
        display: none;
    }
    .header__number {
        display: flex;
    }
    .language {
        display: flex;
        margin: 0px 10px 0px 10px;
    }
    .wrapper {
        padding: 0 15px;
    }
    
}

@media (max-width: 426px) {
    
    .header__number {
        display: none;
    }
    .language {
        display: none;
        margin: 0px 10px 0px 10px;
    }
    .wrapper {
        padding: 0 15px;
    }
    .header__btn {
        display: none;
    }
}

/* WELCOME-HOME */
.welcome-home {
    margin-top: 30px;
    position: relative;
    height: 970px;
}
.welcome-home__social-medias {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 20;
    padding: 20px 20px 0px 0px;
    text-align: center;
}
.social-media__list {
}
.social-media-item {
    padding: 5px 0px;
}
.social-media__link {
    
}
.welcome-home__img {
    position: absolute;
    top: 0;
    left: 0;

}

.welcome-home__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.welcome-home__body {
    position: relative;
    margin-top: 9%;
}
.welcome-home__name {
    font-family: Work Sans;
    font-size: 16px;
    color: #fff;
}
.welcome-home__title {
    font-family: Space Grotesk;
    font-size: 96px;
    color: #fff;
    max-width: 714px;
    margin: 22px 0px 22px 0px;
}
.welcome-home__consult {
    font-family: Work Sans;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.welcome-home__consult svg {
    vertical-align: middle;
}
.welcome-home__title span {
    color: #FCD54C;
}
.welcome-home__numbers {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1000px;
    height: 150px;
    background-color: #272727;
    display: flex;
    align-items: center;
}
.numbers__row {
    display: flex;
}
.numbers__item {
    display: flex;
    margin-left: 50px;
}
.numbers__number {
    font-size: 60px;
    font-family: Roboto;
    font-weight: 600;
    color: #fff;
}
.number-active {
    color: #FCD54C;
}
.numbers__title {
    font-family: Work Sans;
    font-size: 20px;
    color: #fff;
    max-width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

/* ADAPTIVE MAIN BLOCK */
@media (max-width: 1025px) {
  .welcome-home__body {
    padding-left: 50px;
  }
}

@media (max-width: 427px) {
    
    .welcome-home__body {
     align-items: center;
     justify-content: center;
     padding-left: 0px;
     padding-top: 55%;
    }
    .welcome-home__name {
        font-size: 20px;
    }
    .welcome-home__title {
       font-size: 50px;
    }
    .welcome-home__consult {
        font-size: 20px;
    }
    .welcome-home__social-medias {
        display: none;
    }
    .numbers__row {
        display: flex;
        border-bottom: solid 2px #FCD54C;
        padding-bottom: 20px;
    }
    .numbers__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        margin: 50px 0px 0px 0px;
        text-align: center;
    }
    .numbers__title {
        margin-top: 10px;
    }
  }


  /* LATEST PROJECTS SECTION */
  .latest-projects {
    margin-top: 100px;
    position: relative;
  }

.latest-projects__body__container {
    display: flex;
    justify-content: space-between;
}
.latest-projects__title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 48px;
    color: #fff;
}
.latest-projects__choose {
    display: flex;
}
.latest-projects__list {
    margin: 0 18.5px;
}
.latest-projects__link {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.latest-active {
    color: #FCD54C;
}
.latest-projects__column {
    display: flex;
    margin-top: 77px;
    position: relative;
}
.latest-projects__item {
    position: relative;
    width: 430px;
    height: 572px;
    margin: 0 15px;
}
.latest-prokects__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.latest-prokects__img img{
    object-fit: cover;
    width: 430px;
    height: 572px;
    top: 0;
    left: 0;
}
.latest-projects__item-text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 37px;
    color: #fff;
    position: relative;
    top: 500px;
    left: 30px;
}
.latest-projects__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #FCD54C;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: 0.5s all;
}
.latest-projects__item:hover:before {
    opacity: 1;
}

.latest-projects__hover-block {
    position: relative;
    z-index: 6;
    left: 30px;
    opacity: 0;
    transition: 0.5s all;
}
.latest-projects__item-text_hover {
    font-family: Roboto;
    font-weight: 600;
    font-size: 37px;
    color: #272727;
}
.latest-projects__hover-desc {
    font-family: Work Sans;
    color: #272727;
    font-size: 20px;
    max-width: 339px;
    margin: 150px 0;
}
.latest-projects__see-more {
    font-family: Work Sans;
    color: #272727;
    font-size: 20px;
    font-weight: 600;
}
.latest-projects__see-more svg{
    vertical-align: middle;
    stroke: #272727;
}

.latest-projects__item:hover .latest-projects__hover-block  {
    opacity: 1;
}

.link-gray {
    color: #929292;
    font-family: 'Roboto';
    font-style: italic
;
}

/* latest-projects ADAPTIVE */
@media (max-width: 1023px) {
    .latest-projects__column {
        display: flex;
        margin-top: 77px;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .latest-projects__item {
        margin: 15px auto;
    }
    .latest-projects__body__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .latest-projects__list {
        margin: 20px 18.5px;
    }
    .latest-projects__list:first-child {
        margin: 20px 18.5px 20px 0px;
    }
    .latest-projects__item {
        position: relative;
        width: 300px;
        margin: 15px 0px;
    }
  }

/* our-experts section */
.our-expertise {
    max-width: 730px;
    margin: 0 auto;
    margin-top: 70px;
}
.our-expertise__body {
    max-width: 730px;
}
.our-expertise-name {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 20px;
    color: #FCD54C;
}
.our-expertise-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 70px;
    color: #fff;
    margin: 30px 0;
}
.our-expertise-desc {
    font-family: Work Sans;
    font-size: 16px;
    color: #E8E8E8;
    line-height: 160%;
}

/* WATCH-VIDEO SECTION */
.watch-video {
    position: relative;
    margin-top: 90px;
    height: 800px;
}
.watch-video__video-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.watch-video__video-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.watch-video__btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 50%;
}
.watch-video__btn-block {
    width: 70px;
    height: 70px;
    background-color: #FCD54C;
    border-radius: 50%;
    position: relative;
}
.watch-video__btn img {
    position: absolute;
    stroke: #000;
    width: 27px;
    height: 27px;
    transform: rotate(-90deg);
    left: 23px;
    top: 21px;
}


/* PEOPLE LIMIT SECTION */
.people-limit {
    margin-top: 100px;
}
.people-limit__container {
}
.people-limit__quote {
    display: block;
    border: 1px solid #FCD54C;
    padding: 70px 100px;
}
.people-limit__quote-text {
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 160%;

    color: #FFFFFF;
}
.people-limit__quote-text span {
    color: #FCD54C;
}
.people-limit__body {
    margin-top: 64px;
    display: flex;
}
.people-limit__column {
    max-width: 543px;
    
}
.people-limit__column:not(:last-child) {
   margin-right: 25px;
    
}
.people-limit__item {
}
.people-limit__image {
}
.people-limit__desc {
    margin-top: 70px;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 160%;

    color: #E8E8E8;

}

@media (max-width: 426px) {
    .people-limit__body {
        margin-top: 64px;
        display: block;
    }
    .people-limit__column:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 25px;
     }
     .people-limit__quote {
        padding: 35px 50px;
    }
  }

/* CONTACT US SECTION */
.contact-us {
    margin-top: 115px;
    position: relative;
    height: 400px;
    padding: 0px;
    margin-left: -55px;
    margin-right: -55px;
    padding: 0 55px;
}
.contact-us__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contact-us__image img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
}
.contact-us__body {
    position: relative;
    text-align: center;
    padding: 85px 0;
}
.contact-us__text {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 25px;
    line-height: 160%;


    color: #272727;
}
.contact-us__title {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 120px;
    line-height: 69px;


    color: #272727;
    margin: 15px 0px 55px 0px;
}
.contact-us__form {
    max-width: 486px;
    margin: 0 auto;
}
.contact-us__form-input {
    display: flex;
}
.contact-us__form input {
    background-color: #fff;
    padding: 20px 30px;
    font-family: 'Work Sans';
    font-size: 14px;
    width: 305px;

    color: #272727;
}
.contact-us__btn {
    background-color: #272727;
    padding: 20px 70px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    flex: 1 1 auto;
    color: #FFFFFF
}

/* ARTICLES SECTION */
.articles {
    margin-top: 65px;
    position: relative;
}
.articles__container {
}
.articles__body {
    display: flex;
    justify-content: space-between;

}
.articles__view-more {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
    color: #929292;
}
.articles__view-more svg {
    stroke: #929292;
    vertical-align: middle;
}

.articles__list {
    display: flex;
    position: relative;
}
.articles__column {
    margin-top: 90px;
    margin: 0 15px;
}

.articles__item {
    position: relative;
    margin-top: 90px;
    max-width: 350px;
    height: 350px;
   
}

.articles__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.articles__img img{
    object-fit: cover;
    width: 350px;
    height: 350px;
    top: 0;
    left: 0;
}
.articles__item-text {
    position: relative;
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 300px;
    left: 20px;
}

.articles__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #272727;
    border: 1px solid #FCD54C;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: 0.5s all;
}

.articles__item:hover:before {
    opacity: 1;
}

.articles__hover-block {
    position: relative;
    z-index: 6;
    opacity: 0;
    transition: 0.5s all;
    padding: 30px;
}
.articles__item-text_hover {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    
    color: #FFFFFF;
}
.articles__item-title_hover {
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;

    color: #FFFFFF;
    margin: 15px 0px 28px 0px;
}
.articles__hover-desc {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #929292;
    margin-bottom: 32px;
}
.articles__see-more {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #FCD54C;
}
.articles__see-more svg{
    vertical-align: middle;
    stroke: #FCD54C;
}
.articles__item:hover .articles__hover-block  {
    opacity: 1;
}

@media (max-width: 426px) {
   .articles__list {
    flex-direction: column;
   }
   .articles__column:first-child {
    margin-left: 15px;
}
.articles__item-title_hover {
    

    margin: 0px 0px 0px 0px;
}
.contact-us {
    display: none;
}
  }
/* FAQ SECTION */
.faq {
    margin-top: 110px;
}
.faq__container {
}
.faq__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 70px;
    line-height: 60px;


    color: #FFFFFF;
}
.faq__questions {
    margin-top: 30px;
}
details {
    
font-family: 'Work Sans';
font-size: 18px;
line-height: 130%;

color: #FFFFFF;
border-bottom: 1px solid #929292;
border-top: 1px solid #929292;
padding: 20px 0;
}
.faq__answer-text {
    font-size: 14px;
    color: #E8E8E8;
    padding: 30px;
}
details > summary {
    list-style-type: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 11.0254L0.671129 1.00085' stroke='%23FCD54C'/%3e%3cpath d='M0.670898 21.0254L11.9998 11.0008' stroke='%23FCD54C'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right;
}

details[open] > summary {
    list-style-type: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.3232 12.6758L20.3478 1.34691' stroke='%23FCD54C'/%3e%3cpath d='M0.323242 1.34766L10.3478 12.6765' stroke='%23FCD54C'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right;
}
details:not(:first-child) {
    border-top: none;
}

/* FOOTER */
footer {
    margin-top: 122px;
    border-top: 1px solid rgba(255, 255, 255, .3);
    margin-left: -55px;
    margin-right: -55px;
    padding: 0 55px;
}
.footer__logo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.footer__services-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer__service {
    
}
.footer__service:not(:first-child) {
    margin-left: 185px;
}
.footer__btn {
    max-width: 200px;
    margin-top: 80px;
}
.footer__services {
}
.footer__services-name {
    
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 21px;

    color: #E8E8E8;
}
.footer__services-item {
   margin: 10px 0;
}
.footer__services-item:nth-child(2) {
    margin: 40px 0px 10px 0px;
 }
.footer__services-link {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #E8E8E8;

}
.footer__copyright-block {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, .3);
    margin-left: -55px;
    margin-right: -55px;
    padding: 25px 55px;
    margin-top: 95px;
}
.footer__copyright {
    font-family: 'Lexend';
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;


    color: #E8E8E8;
}
.foooter__medias {
    margin-top: 5px;
}
.footer__media-list {
    display: flex;
    
}
.footer__media-item {
   margin: 0px 15px;
}
.footer__media-item:last-child {
    margin: 0px 0px 0px 15px;
}
.footer__media__link {
   
}